*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

:root{
  --title-color:#e53170;
  --card-color:#000000;
  --textmember-color: #ffffff;
  --email-color:#6ecbf2;
}
/* utilities */

.debug{
  border: 1 solid black;
  background-color:blanchedalmond;
}

.fsz-15{
  font-size: 1.5rem;
}

.fsz-12{
  font-size: 1.2rem;
}

.fsz-10{
  font-size: 1.0rem;
}

/* /utilities */

img{
  width: 100%;
}

main h1{
  color: var(--title-color);
}


.member-card{
  background-color: var(--card-color);

}
.card-text{
  color: var(--textmember-color);
}

.card-text .email{
  color: var(--email-color);
}
.card-image{
 width: 130px;
 height: 130px;
}

